<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.as.cyems.mapper.SysUserRoleMapMapper">

    <insert id="insert">
        INSERT INTO T_SECURITY_USER_ROLE_MAP (USER_ID, ROLE_ID)
        VALUES (#{userId} , #{roleId})
    </insert>

    <select id="findRolesByUserId"
            resultMap="com.as.cyems.mapper.SysRoleMapper.RoleResultMap">
        <include refid="com.as.cyems.mapper.SysRoleMapper.Base_SELECT"/>
        WHERE id in (
        select role_id from T_SECURITY_USER_ROLE_MAP
        WHERE USER_ID = #{id}
        )
    </select>

    <delete id="deleteByUserId">
        DELETE FROM T_SECURITY_USER_ROLE_MAP
        WHERE USER_ID = #{id}
    </delete>

    <select id="findUserByRoleId"
            resultMap="com.as.cyems.mapper.SysUserMapper.UserResultMap">
        <include refid="com.as.cyems.mapper.SysUserMapper.Base_SELECT"/>
        WHERE id in (
        select user_id from T_SECURITY_USER_ROLE_MAP
        WHERE ROLE_ID = #{id}
        )
    </select>

    <delete id="deleteByRoleId">
        DELETE FROM T_SECURITY_USER_ROLE_MAP
        WHERE ROLE_ID = #{id}
    </delete>

</mapper>