<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.as.cyems.mapper.SysUserOrgMapMapper">

    <!--<insert id="insert">-->
        <!--INSERT INTO T_SECURITY_USER_ROLE_MAP (USER_ID, ROLE_ID)-->
        <!--VALUES (#{userId} , #{roleId})-->
    <!--</insert>-->

    <select id="findOrgsByUserId"
            resultMap="com.as.cyems.mapper.SysOrganizationMapper.OrganizationResultMap">
        <include refid="com.as.cyems.mapper.SysOrganizationMapper.Base_SELECT"/>
        WHERE id in (
        select ORG_ID from t_security_users
        WHERE ID = #{id}
        )
    </select>


    <!--<delete id="deleteByUserId">-->
        <!--DELETE FROM T_SECURITY_USER_ROLE_MAP-->
        <!--WHERE USER_ID = #{id}-->
    <!--</delete>-->

    <!--<select id="findUserByRoleId"-->
            <!--resultMap="com.as.security.mapperrRepository.UserResultMap">-->
        <!--<include refid="com.as.security.mapperrRepository.Base_SELECT"/>-->
        <!--WHERE id in (-->
        <!--select user_id from T_SECURITY_USER_ROLE_MAP-->
        <!--WHERE ROLE_ID = #{id}-->
        <!--)-->
    <!--</select>-->

    <!--<delete id="deleteByRoleId">-->
        <!--DELETE FROM T_SECURITY_USER_ROLE_MAP-->
        <!--WHERE ROLE_ID = #{id}-->
    <!--</delete>-->

</mapper>