<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.as.security.mapper.SysOrganizationMapper">

    <resultMap id="OrganizationResultMap" type="com.as.security.domain.SysOrganization">
        <result property="id" column="ID"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="level" column="LEVEL"/>
        <result property="name" column="NAME"/>
        <result property="description" column="DESCRIPTION"/>

        <result property="idOrg1" column="ID_ORG_1"/>
        <result property="idOrg2" column="ID_ORG_2"/>
        <result property="idOrg3" column="ID_ORG_3"/>
        <result property="idOrg4" column="ID_ORG_4"/>
        <result property="idOrg5" column="ID_ORG_5"/>
        <result property="idOrg6" column="ID_ORG_6"/>
        <result property="idOrg7" column="ID_ORG_7"/>
        <result property="idOrg8" column="ID_ORG_8"/>
        <result property="idOrg9" column="ID_ORG_9"/>

        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="lastModifiedBy" column="LAST_MODIFIED_BY"/>
        <result property="lastModifiedDate" column="LAST_MODIFIED_DATE"/>
    </resultMap>
    <resultMap id="OrganizationResultMapChild" type="com.as.security.domain.SysOrganization">

        <result property="id" column="ID"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="level" column="LEVEL"/>
        <result property="name" column="NAME"/>
        <result property="description" column="DESCRIPTION"/>

        <result property="idOrg1" column="ID_ORG_1"/>
        <result property="idOrg2" column="ID_ORG_2"/>
        <result property="idOrg3" column="ID_ORG_3"/>
        <result property="idOrg4" column="ID_ORG_4"/>
        <result property="idOrg5" column="ID_ORG_5"/>
        <result property="idOrg6" column="ID_ORG_6"/>
        <result property="idOrg7" column="ID_ORG_7"/>
        <result property="idOrg8" column="ID_ORG_8"/>
        <result property="idOrg9" column="ID_ORG_9"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="lastModifiedBy" column="LAST_MODIFIED_BY"/>
        <result property="lastModifiedDate" column="LAST_MODIFIED_DATE"/>
        <result property="childes" column="CHILDES"/>
    </resultMap>

    <sql id="Base_Columns">
        ID,
        PARENT_ID,
        "LEVEL",
        NAME,
        DESCRIPTION,
        ID_ORG_1,
        ID_ORG_2,
        ID_ORG_3,
        ID_ORG_4,
        ID_ORG_5,
        ID_ORG_6,
        ID_ORG_7,
        ID_ORG_8,
        ID_ORG_9,
        CREATED_BY,
        CREATED_DATE,
        LAST_MODIFIED_BY,
        LAST_MODIFIED_DATE
    </sql>

    <sql id="Base_SELECT">
        SELECT
        <include refid="com.as.security.mapper.SysOrganizationMapper.Base_Columns"/>
        from t_security_orgs
    </sql>

    <select id="findOne" resultMap="OrganizationResultMap">
        <include refid="Base_SELECT"/>
        where id = #{id}
    </select>

    <select id="findAll" resultMap="OrganizationResultMap">
        <include refid="Base_SELECT"/>
    </select>

    <!--<select id="findByParams" resultMap="OrganizationResultMap">-->
    <!--<include refid="Base_SELECT"/>-->
    <!--<where>-->
    <!--<if test="disabled != null">-->
    <!--DISABLED = #{disabled}-->
    <!--</if>-->
    <!--<if test="keyword != null and keyword != ''">-->
    <!--AND (IDENTIFIER like #{keyword}-->
    <!--or NAME like #{keyword}-->
    <!--or DESCRIPTION like #{keyword}-->
    <!--)-->
    <!--</if>-->
    <!--</where>-->
    <!--</select>-->

    <select id="findByParentId" resultMap="OrganizationResultMap" parameterType="int">
        <include refid="Base_SELECT"/>
        where
        <if test="id == null">
            PARENT_ID IS NULL
        </if>
        <if test="id != null">
            PARENT_ID = #{id}
        </if>
    </select>

    <!--
    <insert id="insert" useGeneratedKeys="true" parameterType="organization">

        <selectKey keyProperty="id" resultType="int" order="BEFORE">
        SELECT SECURITY_SEQUENCE.nextVal from dual
        </selectKey>

        insert into t_security_orgs (
        ID,
        PARENT_ID,
        NAME,
        "LEVEL",
        DESCRIPTION,
        ID_ORG_1,
        ID_ORG_2,
        ID_ORG_3,
        ID_ORG_4,
        ID_ORG_5,
        ID_ORG_6,
        ID_ORG_7,
        ID_ORG_8,
        ID_ORG_9,
        CREATED_BY,
        CREATED_DATE,
        LAST_MODIFIED_BY,
        LAST_MODIFIED_DATE
        )values (
        #{id},
        #{parentId},
        #{name},
        #{level},
        #{description},
        #{idOrg1},
        #{idOrg2},
        #{idOrg3},
        #{idOrg4},
        #{idOrg5},
        #{idOrg6},
        #{idOrg7},
        #{idOrg8},
        #{idOrg9},
        #{createdBy},
        #{createdDate},
        #{lastModifiedBy},
        #{lastModifiedDate}
        )
    </insert>
    -->

    <update id="update" parameterType="com.as.security.domain.SysOrganization">
        update t_security_orgs
        set NAME = #{name}
        , DESCRIPTION = #{description}
        , LAST_MODIFIED_BY = #{lastModifiedBy}
        , LAST_MODIFIED_DATE = #{lastModifiedDate}
        where id = #{id}
    </update>
    <!--<update id="updateOrg" >-->
    <!--&#45;&#45;         update t_security_orgs-->
    <!--&#45;&#45;         set ID_ORG_#{ilevel}=#{id}-->
    <!--&#45;&#45;                 where id = #{id}-->
    <!--${usql}-->
    <!--</update>-->

    <delete id="delete" parameterType="int">
        DELETE FROM t_security_orgs
        where id = #{id}
    </delete>


</mapper>